<div class="fullwidth">
  <img class="media" src="/assets/shoes_banner.jpg" alt="Two runners on technical trail, viewed from behind their feet">
</div>

<div class="row text-center page-title">
  <hr>
  <h1>Shoe Reviews</h1>
  <hr>
</div>
  
<%= render partial: "partials/brand_checkbox_filter" %>

<%= render partial: "partials/items_display" %>