<div class="fullwidth">
  <img class="media" src="/assets/outerwear_banner.jpg" alt="A runner in a rain jacket above an alpine lake with partially cloudy skies">
</div>

<div class="row text-center page-title">
  <hr>
  <h1>Outerwear Reviews</h1>
  <hr>
</div>
  
<%= render partial: "partials/brand_checkbox_filter", locals: { brands: @brands } %>

<%= render partial: "partials/items_display", locals: { items: @items } %>