<div class="fullwidth">
  <img class="media" src="/assets/hydration_packs_banner.jpg" alt="A woman wearing a hydration pack againt the bright sunlight shining through the trees above her">
</div>

<div class="row text-center page-title">
  <hr>
  <h1>Hydration Pack Reviews</h1>
  <hr>
</div>

<%= render partial: "partials/brand_checkbox_filter" %>

<%= render partial: "partials/items_display" %>