<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">Ultra Swagger</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><%= link_to "Login with Strava", "/auth/strava" %></li>
    </ul>
  </div>
</div>