<div class="fullwidth">
  <img class="media" src="/assets/banner.jpg" alt="Runner in the Maroon Bells Wilderness">
</div>

<div class="row column text-center">
  <div class="page-title">
    <hr>
    <h1>Ultra Swagger</h1>
    <hr>
  </div>
  <div class="content">
    <p>
      Ultra Swagger is the newest site for gear reviews, specifically for ultrarunners!</br>
      Shoes, hydration packs, and clothing reviewed only by those that know the "ultra shuffle" all too well.</br>
      No more wondering whether reviews are accurate for the long haul.</br>
      <hr>
      Feel free to browse the reviews, but be aware that <em>only users logged in via Strava may submit new reviews</em>
    </p>
  </div>
</div>

<div class="row medium-up-2 large-up-4">
  <hr>
  <h2 class="text-center">Product Reviews by Category</h2>
  <hr>
  <div class="column text-center">
    <a href="items/shoes" class="callout button expanded">Shoes</a>
    <img class="thumbnail" src="assets/running_shoes_300x400.jpg">
  </div>
  <div class="column text-center">
    <a href="items/outerwear" class="callout button expanded">Outerwear</a>
    <img class="thumbnail" src="assets/outerwear_300x400.jpeg">
  </div>
  <div class="column text-center">
    <a href="items/base_layers" class="callout button expanded">Base Layers</a>
    <img class="thumbnail" src="assets/base_layers_300x400.jpeg">
  </div>
  <div class="column text-center">
    <a href="items/hydration_packs" class="callout button expanded">Hydration Packs</a>
    <img class="thumbnail" src="assets/hydration_packs_300x400.jpeg">
  </div>
  <hr>
  <div class="row text-center">
    <a href="/reviews/new" class="callout button">Submit A Product Review</a>
    <a href="races" class="callout button">Browse Reviews by Race</a>
  </div>
</div>