<div class="fullwidth">
  <img class="media" src="/assets/banner.jpg" alt="Runner in the Maroon Bells Wilderness">
</div>

<div class="row column text-center">
  <div class="page-title">
    <hr>
    <h1>UltraSwagger.com</h1>
    <hr>
  </div>
  <div class="content">
    <p>
      Ultra Swagger is the newest site for gear reviews, specifically for ultrarunners!</br>
      Shoes, hydration packs, and clothing reviewed only by those that know the "ultra shuffle" all too well.</br>
      No more wondering whether reviews are accurate for the long haul.</br>
    </p>
  </div>
</div>

<div class="row">
  <div class="column">
    
  </div>
</div>