<div class="text-center">
  <h1>Coming Soon!</h1>
  <p class="text-center"></br>
    Ultra Swagger is the newest site for gear reviews... for ultrarunners!</br>
    Your favorite shoes, hydration packs, and outerwear, reviewed by your peers</br>
    who run gear through the gauntlet as much as you do.</br>
    No more wondering whether reviews are accurate for the long haul.</br>
    Search for reviews based on race climate, trail conditions, and</br>
    the amount of training <em>actually</em> completed by the reviewer.</br>
    </br>
    Stay tuned for site updates!</br>
    </br>
    ~ Chris Concannon
  </p>
</div>