<div class="fullwidth">
  <img class="media" src="/assets/base_layers_banner.jpeg" alt="Bearded man running in graffiti-filled alleyway">
</div>

<div class="row page-title text-center">
  <hr>
  <h1>Base Layer Reviews</h1>
  <hr>
</div>

<% cache cache_key_for(BaseLayer, "index") do %>
<%= render partial: "partials/brand_checkbox_filter", locals: { brands: @brands } %>

<%= render partial: "partials/items_display", locals: { items: @items } %>
<% end %>