---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/9f0b41914913b8fb31ee1fb99bb23077/39.2508,-106.2925,1474351200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Forecast-Api-Calls:
      - '4'
      X-Response-Time:
      - 91.486ms
      X-Hostname:
      - 28.api
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.2508,"longitude":-106.2925,"timezone":"America/Denver","offset":-6,"currently":{"time":1474351200,"summary":"Partly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"precipProbability":0,"temperature":45.05,"apparentTemperature":45.05,"dewPoint":25.41,"humidity":0.46,"windSpeed":1.32,"windBearing":319,"visibility":10,"cloudCover":0.48,"pressure":1020.48,"ozone":263.88},"hourly":{"summary":"Mostly
        cloudy throughout the day.","icon":"partly-cloudy-day","data":[{"time":1474351200,"summary":"Partly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"precipProbability":0,"temperature":45.05,"apparentTemperature":45.05,"dewPoint":25.41,"humidity":0.46,"windSpeed":1.32,"windBearing":319,"visibility":10,"cloudCover":0.48,"pressure":1020.48,"ozone":263.88},{"time":1474354800,"summary":"Partly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"precipProbability":0,"temperature":42.4,"apparentTemperature":42.4,"dewPoint":24.45,"hu[...]
