---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Tahoe%20City,%20CA&key=AIzaSyBgMuiBzouR48EE-xRBqQ59rF7_y-WAsyk
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Tahoe City",
                       "short_name" : "Tahoe City",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Placer County",
                       "short_name" : "Placer County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "California",
                       "short_name" : "CA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Tahoe City, CA, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.18213,
                          "lng" : -120.1355329
                       },
                       "southwest" : {
                          "lat" : 39.12889,
                          "lng" : -120.1949481
                       }
                    },
                    "location" : {
                       "lat" : 39.1446803,
                       "lng" : -120.1762494
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.18213,
                          "lng" : -120.1355329
                       },
                       "southwest" : {
                          "lat" : 39.12889,
                          "lng" : -120.1949481
                       }
                    }
                 },
                 "place_id" : "ChIJIacfzy7Wm4AR0Z5sgTCymCo",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 21 Sep 2016 21:59:53 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/9f0b41914913b8fb31ee1fb99bb23077/39.1446803,-120.1762494,1403676000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Forecast-Api-Calls:
      - '6'
      X-Response-Time:
      - 58.192ms
      X-Hostname:
      - 88.api
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.1446803,"longitude":-120.1762494,"timezone":"America/Los_Angeles","offset":-7,"currently":{"time":1403676000,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":56.02,"apparentTemperature":56.02,"dewPoint":39.45,"humidity":0.54,"windSpeed":1.3,"windBearing":239,"visibility":10,"cloudCover":0,"pressure":1013.96},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1403593200,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":55.52,"apparentTemperature":55.52,"dewPoint":31.9,"humidity":0.4,"windSpeed":3.63,"windBearing":246,"visibility":10,"cloudCover":0,"pressure":1013.86},{"time":1403596800,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":55.56,"apparentTemperature":55.56,"dewPoint":31.87,"humidity":0.4,"windSpeed":1.33,"windBearing":156,"visibility":10,"cl[...]
