---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athletes/5189780/stats?access_token=2ad255e3c13d31dd994dcefbba4b030100d914aa
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"63ca9937f630612e20fded4c72772ebb"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '1,1'
    body:
      encoding: ASCII-8BIT
      string: '{"biggest_ride_distance":31045.4,"biggest_climb_elevation_gain":544.48,"recent_ride_totals":{"count":1,"distance":17463.099609375,"moving_time":4207,"elapsed_time":4500,"elevation_gain":233.6999969482422,"achievement_count":0},"recent_run_totals":{"count":23,"distance":414186.30029296875,"moving_time":149759,"elapsed_time":178748,"elevation_gain":8394.645753860474,"achievement_count":116},"recent_swim_totals":{"count":0,"distance":0.0,"moving_time":0,"elapsed_time":0,"elevation_gain":0.0,"achievement_count":0},"ytd_ride_totals":{"count":26,"distance":57055,"moving_time":149231,"elapsed_time":149914,"elevation_gain":1532},"ytd_run_totals":{"count":199,"distance":2924888,"moving_time":992075,"elapsed_time":1164939,"elevation_gain":50218},"ytd_swim_totals":{"count":0,"distance":0,"moving_time":0,"elapsed_time":0,"elevation_gain":0},"all_ride_totals":{"count":26,"distance":57055,"moving_time":149231,"elapsed_time":149914,"elevation_gain":1532},"all_run_totals":{"count":597,"distance":8450656,"moving_time":2896189,"elapsed_time":3228963,"elevation_gain":104562},"all_swim_totals":{"count":0,"distance":0,"moving_time":0,"elapsed_time":0,"elevation_gain":0}}'
  recorded_at: Mon, 19 Sep 2016 01:56:15 GMT
recorded_with: VCR 3.0.3
