/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 
.fullwidth img {
    display: block;
    width: 100%; /* just add width in case you want the image covering full-width */
    margin: 0 auto;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 45px;
  background-color: rgb(0, 0, 0);
  opacity: 0.75;
}

.top-dead-space {
  top: 0;
  left: 0;
  z-index: 9998;
  width: 100%;
  height: 45px;
  background-color: rgb(0,0,0);
}

.page-title {
  margin: auto;
  width: 50%;
  padding: 10px;
  font-family: Impact, "Arial Black", "sans serif";
  color: rgb(75, 75, 75);
}  

p {
  font-family: "Arial Black", "sans serif";
}

h1 {
  font-family: Impact, "Arial Black", "sans serif";
  color: rgb(75, 75, 75);
}

h2 {
  font-family: Impact, "Arial Black", "sans serif";
  color: rgb(75, 75, 75);
}

h3 {
  font-family: Impact, "Arial Black", "sans serif";
  color: rgb(75, 75, 75);
}

h4 {
  font-family: Impact, "Arial Black", "sans serif";
}

h4 {
  font-family: Impact, "Arial Black", "sans serif";
}

.content {
  font-family: "Arial Black", "sans serif";
}

.footer {
  background-color: rgb(75,75,75);
  color: rgb(255,255,255);
}

.index-item-container {
  padding: 1rem 1rem 1rem 1rem;
  max-width: 100%;
  height: 450px;
}
  
.index-item {
  padding: 1rem 1rem 1rem 1rem;
  max-width: 100%;
  height: 100%;
  border-color: rgb(75, 75, 75);
  border-style: solid;
  border-width: small;
}

.index-item-image {
  max-width: 100%;
  max-height: 260px;
  padding: 1rem 1rem 1rem 1rem;
}

.hidden {
  display: none;
}

.checkbox-border {
  padding: 1rem 1rem 1rem 1rem;
  border-color: rgb(75, 75, 75);
  border-style: solid;
  border-width: 2px;
  max-width: 15%;
}